* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.retangulo {
margin: 100px auto 0 auto;
flex-direction: column;
align-items: center;
display: flex;
width: 450px;
height: 500px;
padding: 30px;
border-radius: 10px;
background-color: rgb(27, 28, 98);
box-shadow: 0 0 20px rgb(93, 48, 207);
text-align: center;
background: rgba(27, 28, 98, 0.4);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.2);
}

.retangulo h1 {
   text-align: center;
    background-image: url("starfall.gif");
    border-radius: 5px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 43px;
    font-weight: bold;
    font-family: 'Tahoma';
    margin-bottom: 30px;
    color: aliceblue;
    text-shadow: 0 0 8px #66f, 0 0 15px #88f;
}


#BotaoJogarNovamente {
  margin-top: 25px;
  position: relative;
  padding: 15px 30px;
  width: 300px;
  font-family: 'Tahoma';
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(135deg, #3a0ca3 0%, #564cc4 50%, #a099ee 100%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 
    0 0 10px rgba(74, 20, 140, 0.5),
    0 0 20px rgb(8, 21, 79),
    inset 0 0 10px rgb(90, 74, 194);
  transition: all 0.3s ease;
  z-index: 1;
}

#BotaoJogarNovamente::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(102, 95, 227, 0.2) 0%,
    transparent 70%
  );
  border-radius: 50px;
  z-index: -1;
}

#BotaoJogarNovamente:Hover {
  transform: translateY(-3px);
  box-shadow: 
    0 0 15px rgba(74, 20, 140, 0.7),
    0 0 25px rgba(67, 97, 238, 0.5),
    inset 0 0 15px rgba(76, 201, 240, 0.6);
    
}


#BotaoPontuacao {
  margin-top: 35px;
  position: relative;
  padding: 15px 30px;
  width: 300px;
  font-family: 'Tahoma';
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(135deg, #3a0ca3 0%, #564cc4 50%, #a099ee 100%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 
    0 0 10px rgba(74, 20, 140, 0.5),
    0 0 20px rgb(8, 21, 79),
    inset 0 0 10px rgb(90, 74, 194);
  transition: all 0.3s ease;
  z-index: 1;
}

#BotaoPontuacao::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(102, 95, 227, 0.2) 0%,
    transparent 70%
  );
  border-radius: 50px;
  z-index: -1;
}

#BotaoPontuacao:Hover {
  transform: translateY(-3px);
  box-shadow: 
    0 0 15px rgba(74, 20, 140, 0.7),
    0 0 25px rgba(67, 97, 238, 0.5),
    inset 0 0 15px rgba(76, 201, 240, 0.6);
    
}


#BotaoSair {
  margin-top: 25px;
  position: relative;
  padding: 15px 30px;
  width: 300px;
  font-family: 'Tahoma';
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(135deg, #3a0ca3 0%, #564cc4 50%, #a099ee 100%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 
    0 0 10px rgba(74, 20, 140, 0.5),
    0 0 20px rgb(8, 21, 79),
    inset 0 0 10px rgb(90, 74, 194);
  transition: all 0.3s ease;
  z-index: 1;
}

#BotaoSair::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(102, 95, 227, 0.2) 0%,
    transparent 70%
  );
  border-radius: 50px;
  z-index: -1;
}

#BotaoSair:Hover {
  transform: translateY(-3px);
  box-shadow: 
    0 0 15px rgba(74, 20, 140, 0.7),
    0 0 25px rgba(67, 97, 238, 0.5),
    inset 0 0 15px rgba(76, 201, 240, 0.6);
    
}

#texto{
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Tahoma';
    font-style: italic;
    font-weight: bold;
    color:rgb(130, 113, 214);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(74, 74, 156);
    background-image: url("starfall.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


#BotaoClassificacao {
  margin-top: 25px;
  position: relative;
  padding: 15px 30px;
  width: 300px;
  font-family: 'Tahoma';
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(135deg, #3a0ca3 0%, #564cc4 50%, #a099ee 100%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 
    0 0 10px rgba(74, 20, 140, 0.5),
    0 0 20px rgb(8, 21, 79),
    inset 0 0 10px rgb(90, 74, 194);
  transition: all 0.3s ease;
  z-index: 1;
}

#BotaoClassificacao::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(102, 95, 227, 0.2) 0%,
    transparent 70%
  );
  border-radius: 50px;
  z-index: -1;
}

#BotaoClassificacao:Hover {
  transform: translateY(-3px);
  box-shadow: 
    0 0 15px rgba(74, 20, 140, 0.7),
    0 0 25px rgba(67, 97, 238, 0.5),
    inset 0 0 15px rgba(76, 201, 240, 0.6);
    
}
